{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
{% load humanize %}

<div class="container my-5">
    <div class="row">
    <!-- 6 -->
        <div class="col-sm-5 text-center">
            <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail" height="200" width="400">
        </div>
        <!-- 5 -->
        <div class="col-sm-7">
            <h3>{{product.title}}</h3>
            <hr>
            <p class="preview">{{product.description|safe}}</p>
            <h4 class="price-color">&#8377;{{product.discounted_price|intcomma}} <small class="fw-light text-decoration-line-through fonts text-muted">&#8377;{{product.selling_price|intcomma}}</small></h4>
            <p class="fonts mx-3">You Save (&#8377;{{product.save_amount|intcomma}})</p>

            <form action="/buy_now/">
                <input type="hidden" name="p_id" value={{product.id}} id="p_id">
            </form>

            {% if request.user.is_authenticated %}
                {% if item_exist_in_cart %}
                    <a href="/show_cart/" type="button" class="btn btn-warning shadow px-5 py-2">Go to Cart</a>
                {% else %}
                    <form action="/cart/" class='d-inline'>
                        <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                    </form>           
                {% endif %}

            {% else %}
                <form action="/cart/" class='d-inline'>
                    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                </form>

            {% endif %}

                <form action="/buy_now/" class='d-inline'>
                    <input type="hidden" name="p_id" value={{product.id}} id="p_id">
                    <button type="submit" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</button>
                </form> 

            <h5 class="mt-5">Available Offers</h5>
            <ul>
                <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
                <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
                <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
                <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock main-content %}
